In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,r2_score
import warnings
warnings.filterwarnings('ignore')
import joblib

In [2]:
df = pd.read_csv("loan_approval_dataset.csv")
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
x=df[["no_of_dependents","loan_term","cibil_score"]]

In [4]:
e_education=LabelEncoder()
e_education.fit(df['education'])
x['education']=e_education.transform(df['education'])

In [5]:
emp = LabelEncoder()
emp.fit(df['self_employed'])
x['self_employed']=emp.fit_transform(df['self_employed'])

In [6]:
income_pa = MinMaxScaler()
income_pa.fit(df[['income_annum']])
x['income_annum']=income_pa.fit_transform(df[['income_annum']])
joblib.dump(income_pa, 'D:\Loan Approval Prediction\income_annum.pkl')

['D:\\Loan Approval Prediction\\income_annum.pkl']

In [7]:
res_value = MinMaxScaler()
res_value.fit(df[['residential_assets_value']])
x['residential_assets_value']=res_value.transform(df[['residential_assets_value']])
joblib.dump(res_value, r'D:\Loan Approval Prediction\res_value.pkl')

['D:\\Loan Approval Prediction\\res_value.pkl']

In [8]:
com_value = MinMaxScaler()
com_value.fit(df[['commercial_assets_value']])
x['commercial_assets_value']=com_value.transform(df[['commercial_assets_value']])
joblib.dump(com_value, r'D:\Loan Approval Prediction\com_value.pkl')

['D:\\Loan Approval Prediction\\com_value.pkl']

In [9]:
lux_value = MinMaxScaler()
lux_value.fit(df[['luxury_assets_value']])
x['luxury_assets_value']=lux_value.transform(df[['luxury_assets_value']])
joblib.dump(lux_value, r'D:\Loan Approval Prediction\lux_value.pkl')

['D:\\Loan Approval Prediction\\lux_value.pkl']

In [10]:
bank_value = MinMaxScaler()
bank_value.fit(df[['bank_asset_value']])
x['bank_asset_value']=bank_value.transform(df[['bank_asset_value']])
joblib.dump(bank_value, r'D:\Loan Approval Prediction\bank_value.pkl')

['D:\\Loan Approval Prediction\\bank_value.pkl']

In [11]:
def status(x):
    if x==" Approved":
        return 1
    else :
        return 0

df['status']=df['loan_status'].apply(status)
y=df['status']

In [12]:
"""
Graduate:
graduate = 0 , not graduate= 1

self employed:
no =0, yes=1

approved=1, not approved=0

"""
print()

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=13)

In [14]:
model = LogisticRegression()

In [15]:
model.fit(x_train,y_train)

LogisticRegression()

In [16]:
predicted=model.predict(x_test)

In [17]:
accuracy_score(predicted,y_test)*100

92.15456674473069

In [18]:
#save model
joblib.dump(model, r'D:\Loan Approval Prediction\model.pkl')

['D:\\Loan Approval Prediction\\model.pkl']

In [19]:
x

,no_of_dependents,loan_term,cibil_score,education,self_employed,income_annum,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,2,12,778,0,0,0.969072,0.085616,0.907216,0.575835,0.544218
1,0,8,417,1,1,0.402062,0.095890,0.113402,0.218509,0.224490
2,3,20,506,0,0,0.917526,0.246575,0.231959,0.848329,0.870748
3,3,8,467,0,0,0.824742,0.626712,0.170103,0.591260,0.537415
4,5,20,382,1,1,0.989691,0.428082,0.422680,0.748072,0.340136
...,...,...,...,...,...,...,...,...,...,...
4264,5,12,317,0,1,0.082474,0.099315,0.025773,0.077121,0.054422
4265,0,20,559,1,1,0.319588,0.147260,0.149485,0.275064,0.129252
4266,2,18,457,1,0,0.649485,0.044521,0.639175,0.457584,0.496599
4267,1,8,780,1,0,0.402062,0.284247,0.036082,0.354756,0.394558
4268,1,10,607,0,0,0.927835,0.613014,0.608247,0.910026,0.816327